<!DOCTYPE html>
<html lang="ch">

    <head>
        <meta charset="UTF-8">
        <title>主页内容</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/publicStyle-nav.css">
    </head>

    <body>
        <h1>Test</h1>
        <script>
            jQuery.ajax({
                url: "http://localhost:8080/cpu/all_by_condition",
                data:{
                    "where_context": 'price<1000 and price not like \'%-%\'',
                    "pageNum": 1,
                    "pageSize": 20
                },
                type: 'POST',
                success: function (response) {
                    alert(response);
                }
            });
        </script>
    </body>
</html>